<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title>나홀로 쇼핑몰</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https:////fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

        <script type="text/javascript">
            function isCellPhone(p) {
                let regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
                return regExp.test(p);
            }

            function order() {
                let name = $("#order-name").val();
                let count = $("#order-count").val();
                let address = $("#order-address").val();
                let phone = $("#order-phone").val();

                if (name == "") {
                    alert("이름을 입력해주세요")
                    $("#order-name").focus()
                    return
                } else if (count == "") {
                    alert("수량을 입력해주세요")
                    $("#order-count").focus()
                    return
                } else if (address == "") {
                    alert("주소를 입력해주세요")
                    $("#order-address").focus()
                    return
                } else if (phone == "") {
                    alert("휴대폰번호를 입력해주세요")
                    $("#order-phone").focus()
                    return
                } else if (!isCellPhone(phone)) {
                    alert("휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요")
                    return
                }

                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {
                        'name_give': name,
                        'count_give' : count,
                        'address_give' : address,
                        'phone_give' : phone
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        } else {
                            alert(response["msg"]);
                        }
                    }
                })
            }

            $(document).ready(function () {
                $("#orders-box").html("");
                showOrders();
                $.ajax({
                    type: "GET",
                    url: "https://api.manana.kr/exchange/rate.json",
                    data: {},
                    success: function (response) {
                        let nowRate = response[1]['rate'];
                        $('#rate-box').text(nowRate)
                    }
                })
            });

            function showOrders() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let list = response['orders'];
                        for (i = 0; i < list.length; i++) {
                            let name = list[i]['name'];
                            let count = list[i]['count'];
                            let address = list[i]['address'];
                            let phone = list[i]['phone'];

                            let tempHtml = `<tr>
                        <td>${name}</td>
                        <td>${count}</td>
                        <td>${address}</td>
                        <td>${phone}</td>
                    </tr>`;
                            $("#orders-box").append(tempHtml);
                        }
                    }
                })
            }



        </script>

        <style type="text/css">
            * {
                font-family: 'Jeju Gothic', sans-serif;
            }

            h1, h5 {
                display: inline;
            }

            .wrap {
                width: 500px;
                margin: auto;
            }

            .img {
                width: 500px;
                height: 300px;
            }

            .info {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .order {
                text-align: center;
            }

            .orders {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="img"></div>
            <div class="info">
                <img class = "image" src="{{ url_for('static', filename='img01.jpg') }}"/>
                <h1>핀마이크</h1>
                <h5>가격: 12,500원/개</h5>
                <p>온라인 수업에 꼭 필요한 가성비 갑 보야 핀마이크입니다. 사세요!</p>
                <p class="rate">달러-원 환율 : <span id='rate-box'>1,000원</span></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">주문자 이름</span>
                    </div>
                    <input type="text" class="form-control" id="order-name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="order-count">수량</label>
                    </div>
                    <select class="custom-select" id="order-count">
                        <option selected value=""> -- 수량을 선택하세요 --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">주소</span>
                    </div>
                    <input type="text" class="form-control" id="order-address">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">전화번호</span>
                    </div>
                    <input type="text" class="form-control" id="order-phone">
                </div>
                <div class="order">
                    <button onclick="order()" type="button" class="btn btn-primary">주문하기</button>
                </div>
            </div>
            <div class="orders">
                <table class="table" id="order-table">
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                    </thead>
                    <tbody id="orders-box">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>